{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<section id="products" class="container mx-auto my-16 px-4">
  <h2 class="text-3xl font-bold mb-8 text-center text-blue-800">محصولات</h2>

  <div class="grid grid-cols-3 gap-6">
    {% for product in products %}
    <div class="bg-white shadow-md rounded-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition duration-300">
      <img src="{{ product.image.url }}" class="w-full h-48 object-contain bg-gray-100" alt="{{ product.name }}" />
      <div class="p-4 text-center">
        <h3 class="font-semibold text-lg mb-2 text-blue-700">{{ product.name }}</h3>
        {% if product.description %}
        <p class="text-black text-sm mb-3">{{ product.description }}</p>
        {% endif %}

        <!-- دکمه ثبت سفارش -->
        <a href="{% url 'orders:create_order' product.id %}" class="inline-block bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
          ثبت سفارش
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
